/*==============Add by jichao ==================*/
#face_realtime {
    position: fixed;
    top: 10px;
    left: 10px;
    height: 200px;
    width: 200px;
}
/*==============================================*/